
.about-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}

.about-p{
    font-size: small;
    color: #d7d4ff;
    border: 2px solid #c282f9ee;
    border-radius: 20px;
    padding: 10px;
    font-size: 25px;
    box-shadow: 2px 2px 15px #c282f9ee;
}
.about-container h3{
    font-size: 3rem;
}

@media (min-width: 720px) {
    .about{
        
        padding: 50px  0px 40px 0px;
    }
    .about-p{
        line-height: 30px;
        margin: 20px 220px;
    }
    
}
@media (max-width: 720px) {
    .about-container{
        background-color: black;
    }
    .about-p{
        margin: 20px;
        font-size: 15px;
    }
}
